<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <style>
        td{
            border: 1px solid black;
            padding: 10px 25px;
        }
    </style>
</head>
<body>
<h1>Detailed view for <i th:text="${museum.getMuseumName()}"></i></h1>
<br/>
<table>
    <tr th:if="${!#strings.isEmpty(museum.getCity())}">
        <td>City: </td>
        <td th:text="${museum.getCity()}"></td>
    </tr>
    <tr th:if="${!#strings.isEmpty(museum.getAddress())}">
        <td>Address: </td>
        <td th:text="${museum.getAddress()}"></td>
    </tr>
    <tr th:if="${!#strings.isEmpty(museum.getEmail())}">
        <td>E-mail: </td>
        <td th:text="${museum.getEmail()}"></td>
    </tr>
    <tr th:if="${!#strings.isEmpty(museum.getWorkingHours())}">
        <td>Working hours: </td>
        <td th:text="${museum.getWorkingHours()}"></td>
    </tr>
    <tr th:if="${!#strings.isEmpty(museum.getPhone())}">
        <td>Phone: </td>
        <td th:text="${museum.getPhone()}"></td>
    </tr>
    <tr th:if="${!#strings.isEmpty(museum.getWebsite())}">
        <td>Website: </td>
        <td><a th:href="${museum.getWebsite()}" th:text="${museum.getWebsite()}"></a></td>
    </tr>
</table>
</body>
</html>